body {
  background-color: #0e141b;
  color: white;
  font-family: system-ui, sans-serif;
  text-align: center;
  margin-top: 10%;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #2a475e;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

.btn:hover {
  background: #1b2838;
}
